beautifulsoup4==4.12.3
crewai==0.36.0
crewai_tools==0.4.8
embedchain==0.1.116
fake_useragent==1.5.1
FOFA_py==2.0.3
httpx==0.27.0
langchain_openai==0.1.15
langgraph==0.1.7
loguru==0.7.2
mmh3==4.1.0
psycopg2_binary==2.9.9
pydantic==2.8.2
python3_nmap==1.6.0
PyYAML==6.0.1
PyYAML==6.0.1
Requests==2.32.3
SQLAlchemy==2.0.30
tiktoken==0.7.0
tld==0.13
validators==0.28.3
